*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #000;
}


@media screen and (max-width: 480px) {
  .card-body{
  	width: 50%;
  	height: 140px;
  }

  .p-carro-opicionais {
  	width: 40%;
  	height: 30px;
   	font-size: 0.7em;
   	margin: 19px 0 0 0 ;
  
  }

  .card-title{
  	font-size: 0.7em;
  }

  .card-atributos{
  	
  	width: 160px;
  	font-weight: bold;
  	font-size: 0.5em;
  	margin: -10px 15px 0px 0;
  }

  .card-atributos #painel, .card-atributos #marcha, .card-atributos #gas{
  	background-image: none;
  }

  .endereco{
  	display: none;
  }


} 

@media screen and (max-width: 380px){
	.card-atributos{
		font-weight: bold;
		width: 160px;
		font-size: 0.5em;
		margin: -10px 15px 0 0px;

	}
}
/*fim midia responsive */

.navbar{
	width: 100%;
}

.endereco{
	color: yellow;
	font-size: 0.6em;
	font-weight: bold;
	text-align: right;
	margin-right: 10px;
}

.title-h1{
	margin-top: 80px;}

.card-primeiro{
	margin-top: 80px;
	margin-left: 20px
}

.card-meu{
	margin-top: 20px;
	margin-left: 20px;
}

.div-card{
	margin-top: -10px;
	margin-left: 130px;
	margin-bottom: 25px;
	width: 400px;

}

.rodape{
	position: fixed;
	bottom: 0;
}

.rodape a{
	text-decoration: none;
	color: white;
	cursor: text;
}

.rodape a:hover{
	color: #ccc;
}

.card:hover{
	transition: all 1s;
	background-color: #ccc;
}

#tabela-tamanho{
	width: 900px;
}

#painel{
	background: url(../img/painel.png) no-repeat left top;
	padding-left: 20px;
	
}

#marcha{
	background: url(../img/marcha.png) no-repeat left top;
	padding-left: 20px;
	
}

#gas{
	background: url(../img/gas.png) no-repeat left top;
	padding-left: 20px;
	
}

#box-card-atributos{
	top: 100px;
	left: 150px;
}


.nav-item.dropdown .dropdown-item:active {
  background-color: #ccc !important;
}
